html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
}

body {
  background-color: rgb(0, 0, 0);
  background-image: url('75-1999x2998.jpg');
  background-repeat: repeat;
  background-size: cover;
}

#safe-area {
  position: fixed;
  pointer-events: none;
  top: env(safe-area-inset-top, 0px);
  right: env(safe-area-inset-right, 0px);
  bottom: env(safe-area-inset-bottom, 0px);
  left: env(safe-area-inset-left, 0px);
  background-color: rgba(0, 255, 0, 0.1);
  z-index: -1;
}

#canvas {
  display: block;
}

#debug-text {
  position: fixed;
  top: env(safe-area-inset-top, 0px);
  left: env(safe-area-inset-left, 0px);
  right: env(safe-area-inset-right, 0px);
  bottom: env(safe-area-inset-bottom, 0px);
  z-index: 9999;
  font-size: 12pt;
  color: white;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

#mock-device {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 393px;
  height: 852px;
  z-index: 100;
}

#bezel {
  position: absolute;
  width: 473px;
  height: 932px;
  left: -40px;
  top: -40px;
}

#mock-safe-area {
  position: absolute;
  top: 59px;
  bottom: 34px;
  left: 0px;
  right: 0px;
}
