html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 0, 0);
  background-image: url('75-1999x2998.jpg');
  background-repeat: repeat;
}

#canvas {
  display: block;
}

#full-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 255, 0.3);
  pointer-events: none;
  z-index: 9999;
  animation: pulse-blue 0.5s infinite;
}

#safe-area {
  position: fixed;
  top: env(safe-area-inset-top, 0px);
  right: env(safe-area-inset-right, 0px);
  bottom: env(safe-area-inset-bottom, 0px);
  left: env(safe-area-inset-left, 0px);
  pointer-events: none;
  z-index: 9999;
  animation: pulse-green 0.5s infinite;
}

@keyframes pulse-green {
  0% {
    background-color: rgba(0, 255, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 255, 0, 0);
  }
  100% {
    background-color: rgba(0, 255, 0, 0.3);
  }
}

@keyframes pulse-blue {
  0% {
    background-color: rgba(0, 0, 255, 0);
  }
  50% {
    background-color: rgba(0, 0, 255, 0.3);
  }
  100% {
    background-color: rgba(0, 0, 255, 0);
  }
}

