body {
  margin: 0;
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  background-color: rgb(255, 0, 0);
  background-image: url('75-1999x2998.jpg');
  background-repeat: repeat;
}
h1 {
  color: white;
}